body {
  font-family: Arial;
  text-align: center;
  background: #e6f2ff;
}

h1, h2 {
  color: #0066cc;
}

button {
  padding: 10px;
  margin: 10px;
  background: #0099ff;
  color: white;
  border: none;
  border-radius: 8px;
}

input, select {
  padding: 10px;
  margin: 5px;
}
